<launch>
    
    <include file="$(find pepper_ws)/launch/kinova_real.launch">
    </include>

    <node name="multiframe_perception" pkg="pepper_ws" type="multi_frame_service.py" output="screen"/>

    <include file="$(find manipulation)/launch/manipulator.launch">
    </include>
    <node name="end_effector" pkg="rosserial_python" type="serial_node.py" >
        <param name="~port" type="str" value="/dev/ttyUSB0" />
    </node>

    <include file="$(find system_ws)/launch/system.launch">
    </include>

</launch>